apiVersion: v1
kind: ConfigMap
metadata:
  name: foodapi-prometheus-config
  namespace: monitoring
  labels:
    app: foodapi
data:
  prometheus-additional.yaml: |
    - job_name: 'foodapi'
      kubernetes_sd_configs:
        - role: endpoints
          namespaces:
            names:
              - default
      relabel_configs:
        - source_labels: [__meta_kubernetes_service_name]
          action: keep
          regex: foodapi
        - source_labels: [__meta_kubernetes_endpoint_port_name]
          action: keep
          regex: http
        - source_labels: [__meta_kubernetes_namespace]
          target_label: kubernetes_namespace
        - source_labels: [__meta_kubernetes_service_name]
          target_label: kubernetes_name
      scrape_interval: 30s
      metrics_path: /metrics